*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  display: flex;
  align-items: center;
  background: #fff;
  height: 80vh;
  justify-content: Center;
}
.contenaire{
  background-color: rgb(116, 116, 155);
  padding: 3rem;
  border-radius: 12px;
  position: absolute;
  top: 100px;
}
form{
  display: flex;
  flex-direction: column;
}
form div{
  display: flex;
  background-color: rgb(116, 116,155);
}
form input{
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bolder;
  box-sizing: border-box
  color:  black;
 border: none;
 margin: 5px;
 border-radius: 12px;
}
.afficheur{
  flex: 1;
  with: 100%
  grid-column: span 4;
  text-align: right;
  justify-content: end;
}
.egal{
  flex: 1;
  color: blue;
}
.operateur{
  color: blue;
}
